<h1>Edit Restaurant</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.restaurant_path(@conn, :update, @restaurant)) %>

<span><%= link "Back", to: Routes.restaurant_path(@conn, :index) %></span>
